.product_des {
	.container {
		display: grid;
		grid-template-columns: 2fr 4fr;
		grid-template-areas: 'images details';
		gap: 3rem;
		align-content: start;
		align-items: start;
	}
}

.related_products {
	padding: 7rem 0;

	&_slide {
		position: relative;
	}

	&_controls {
		position: absolute;
		top: -1rem;
		right: 0;
		transform: translateY(-150%);

		button {
			width: 3rem;
			height: 3rem;
			background-color: darken($col-blue-light-1, 4%);
			position: relative;
			&:hover {
				background-color: $col-blue;
			}
		}
	}
}
