[class~='btn-'],
[class^='btn'] {
	transition: $transition;
}
button {
	border: none;
	background-color: transparent;
}
.btn {
	&_large {
		padding: 1rem 3rem;
		display: inline-block;
	}
	&_bord,
	&_yellow {
		&,
		&:link,
		&:visited {
			color: $col-blue;
			font-weight: $weight-2;
			transition: $transition linear;
		}

		&:hover {
			transform: translateY(-1px);
		}
		&:active {
			transform: translateY(2px);
		}
	}
	&_plain {
		&:hover,
		&.active {
			background-color: $col-blue-light;
			color: $col-blue;
			transition: $transition linear;
		}
	}
	&_bord {
		border: 2px solid lighten($col-blue, 15%);
	}
	&_yellow {
		background-color: $col-yell;

		&:hover {
			background-color: darken($col-yell, 4%);
		}
	}
	&_diabled {
		background-color: $col-gray-dis;
		color: $col-white;
	}
}

.btn_icon {
	svg {
		fill: currentColor;
		margin-right: 1.5rem;
		display: inline-block;
	}
}
.badge {
	text-align: center;
	display: inline-block;
	padding: 0.3rem 0.5rem;
	color: $col-white;

	&_ash {
		color: $col-black-1;
		background-color: $col-bord-1;
	}
	&_red {
		background-color: $col-red;
		color: $col-white-1;
	}
	&_blue {
		background-color: $col-blue;
	}
	&.big {
		font-size: 1.6rem;
	}
}
