.footer {
	&_main {
		padding: 4rem 0;
		& > .container {
			display: grid;
			grid-template-columns: repeat(3, minmax(10rem, max-content));
			justify-content: center;
			column-gap: 3rem;
		}
	}
	&_box {
		color: $col-white-1;

		&_img {
			height: 5rem;

			@include respond(gsm) {
				height: 3rem;
			}
		}
	}
}
